body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Arial Black", Gadget, sans-serif;
	font-family: Tahoma, Geneva, sans-serif;
	font-family: Impact, Charcoal, sans-serif;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

a:link, a:visited {
	color: blue;
}

#container {
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	min-width: 750px;
}

/* BEGIN INDEX */

#componentsummaries {
	margin: 10px;
	display: block;
	border: 2px solid gray;
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding: 10px;
	box-sizing: border-box;
}

#summaries {
	display: table;
	width: 100%;
}

.summaryrow {
	display: table-row;
	width: 100%;
	padding: 4px 0 4px 0;
	height: 24px;
}

.summary, .summaryheader {
	display: table-cell;
	text-align: left;
}

.summaryheader {
	font-weight: bold;
	padding: 2px 6px 2px 0px;
	height: 30px;
}

/* END INDEX */

#main {
	width: 100%;
	padding: 20px 40px;
	margin: 0px;
	box-sizing: border-box;	
	min-width: 750px;
}

#componenttop {
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	margin-bottom: 0px;
	text-align: left;
	#border-bottom: 2px solid gray;
	min-width: 750px;
	font-size: 11px;
}


.componentheaders {
	box-sizing: border-box;
	width: 100%;
	background-color: #EEEEEE;
	padding: 0;
	#border: 2px solid gray;
	border-bottom: 3px solid gray;
	#border-right: 3px solid gray;
	#border-radius: 8px;
}

.componentheader {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding: 8px 40px;
}

.topheader {
	display: flex;
	justify-content: space-between;
	padding: 6px;
}

.headertlcorner {
	color: blue;
}
.headertrcorner {
	color: blue;
}

.headerdates {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px 10px 40px;
}

.headerdate {
	width: 100%;
	text-align: center;
}

.metrics {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px 40px 8px 40px;
	margin: 0;
	text-align: center;
	border-top: 1px solid black;
}

.metric {
	padding: 2px;
}

.metric span {
	display: block;
	text-align: center;
	padding-top: 4px;
	font-weight: normal;
}

.comprow {
	width: 100%;
	box-sizing: border-box;
	margin: 0px 0px 14px 0px;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 8px 12px 8px 12px;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
}

.compinfosrow {
	width: 100%;
}

.compinfosheader {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px;
}

.compinfoheader {
	font-weight: bold;
	font-size: 12px;
}

.changerowtable {
	width: 100%;
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px dashed black;
}

.changeheaderrow {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-bottom: 2px;
}

.changeheader {
	width: 100%;
	width: 50%;
	text-align: center;
}

.classCHANGE {
	background-color:  #FDD9D6;
}

.classMATCH {
	background-color: #D1FDD9;
}

.classCONFIGMISSING, .classBASELINEMISSING {
	background-color: #FFFADB;
}

.changerow {
	width: 100%;
	display: flex;
	flex-direction: row;
	min-height: 20px;
}

.lhs, .rhs {
	border: 2px inset #cccccc;
	padding: 10px 5px;
	width: 50%;
	min-height: 14px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	white-space: pre-wrap;
	font-weight: 500;
	background-color: #EEEEEE;
	margin: 0px 4px;
}

.lhs {
	color: #7D0000;
}

.rhs {
	color: #015C1A;
}

